@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 200;
    src: local('Source Sans Pro ExtraLight'), local('SourceSansPro-ExtraLight'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3i94_wlxdr.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdr.ttf) format('truetype');
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 600;
      font-size: large;
  }
  body {
    /* 防止選取 */
    -webkit-user-select:none;
    -moz-user-select:none;
    -o-user-select:none;
    user-select:none;

    font-family: "Source Sans Pro", sans-serif;
    color: white;
    font-weight: 300;
  }
  body ::-webkit-input-placeholder {
    /* WebKit browsers */
    font-family: "Source Sans Pro", sans-serif;
    color: white;
    font-weight: 300;
  }
  body :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    font-family: "Source Sans Pro", sans-serif;
    color: white;
    opacity: 1;
    font-weight: 300;
  }
  body ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    font-family: "Source Sans Pro", sans-serif;
    color: white;
    opacity: 1;
    font-weight: 300;
  }
  .wrapper {
    /* background: #7E685A; */
    background: linear-gradient(to bottom right, #6d594c 0%, #4b392f 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 0;
    overflow: hidden;
    z-index: -1;
  }
  .wrapper.form-success .container h1 {
    -webkit-transform: translateY(85px);
            transform: translateY(85px);
  }
  .container {
    margin: 0 auto;
    padding: 0 0;
    text-align: center;
  }

  .dashboard {
    margin: 30px auto 15px auto;
    font-size:24px;
    display:  flex;
    align-items: center;
    justify-content:  center;
  }

  .container h1 {
    font-size: 40px;
    font-weight: 200;
    margin: 12% auto 30px auto;
  }
  form {
    padding: 20px 0;
    position: relative;
    z-index: 2;
  }

  table{
    margin-left:auto; 
    margin-right:auto;
    }

  form button {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    outline: 0;
    background-color: white;
    border: 0;
    padding: 10px 15px;
    margin: 30px auto 30px auto;
    color: #6d594c;
    border-radius: 3px;
    width: 250px;
    cursor: pointer;
    font-size: 18px;
    transition-duration: 0.25s;
  }
  form button:hover {
    background-color: #e9e9e9;
  }
  .bubble li{
    position:absolute;
    list-style:none;
    display:block;
    background:rgba(255,255,255,0.2);
    /*make bubble on page bottom*/
     bottom:-100px; 
    animation:bubble-ani 20s ease-in infinite;
    border-radius:100%;
  }
  
  /* glow of the bubbles*/
  .bubble li:before {
      position: absolute;
      left: 20%;
      top: 21%;
      width: 25%;
      content: '';
      background: rgba(255,255,255,0.2);
      display: block;
      height: 25%;
      border-radius: 100%;
  }
  
  .bubble li:nth-child(1){
    width:20px;
    height:20px;
    left:15%;
  }
  
  .bubble li:nth-child(2){
    width:40px;
    height:40px;
    left:40%;
    animation-duration:13s;
    animation-delay:2s;
  }
  
  .bubble li:nth-child(3){
    width:25px;
    height:25px;
    left:30%;
    animation-duration:18s;
    animation-delay:3.5s;
  }
  
  .bubble li:nth-child(4){
    width:60px;
    height:60px;
    left:55%;
    animation-duration:23s;
    animation-delay:1.5s;
  }
  
  .bubble li:nth-child(5){
    width:20px;
    height:20px;
    left:35%;
    animation-duration:16s;
    animation-delay:2s;
  }

  .bubble li:nth-child(6){
    width:50px;
    height:50px;
    left:85%;
    animation-duration:27s;
    animation-delay:6s;
  }

  .bubble li:nth-child(7){
    width:45px;
    height:45px;
    left:15%;
    animation-duration:14s;
    animation-delay:7.5s;
  }

  .bubble li:nth-child(8){
    width:40px;
    height:40px;
    left:25%;
    animation-duration:16s;
    animation-delay:5s;
  }

  .bubble li:nth-child(9){
    width:55px;
    height:55px;
    left:75%;
    animation-duration:27s;
    animation-delay:3s;
  }

  .bubble li:nth-child(10){
    width:35px;
    height:35px;
    left:65%;
    animation-duration:18s;
    animation-delay:12s;
  }
  
  @keyframes bubble-ani {
    0%{
      -webkit-transform:translateY(0);
      transform:translateY(0);
    }
    100%{
      -webkit-transform:translateY(-1080px);
      transform:translateY(-1080px);
    }
  }
  @-webkit-keyframes square {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-700px) rotate(600deg);
              transform: translateY(-700px) rotate(600deg);
    }
  }
  @keyframes square {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-700px) rotate(600deg);
              transform: translateY(-700px) rotate(600deg);
    }
  }
		ul,li{
			list-style: none;	
			margin: 0;
			padding: 0;		
		}
		.sd{
			width: 400px;
			margin: 30px auto 0;
		}
		.sdspan{
      /* background: #53e3a6; */
      color:#EAE7DC;
			float: left;
			display: inline-block;
			margin: 0;
			border: 1px dotted #D8C3A550;
			height: 40px;
			width: 40px;
			line-height: 40px;
      text-align: center;
		}
		.sdli{
			width: 100%;
			height: 40px;
			float: left;
		}

		.bl{
			border-left-color: #D8C3A5;
      border-left-style: solid;
		}
		.bt{
			border-top-color: #D8C3A5;
			border-top-style: solid;
		}
		.br{
			border-right-color: #D8C3A5;
			border-right-width: 2px;
			border-right-style: solid;
		}
		.bb{
			border-bottom-color: #D8C3A5;
			border-bottom-width: 2px;
			border-bottom-style: solid;
    }
    .nl{
			border-left-width: 0;
    }
    .nt{
			border-top-width: 0;
    }
    .nr{
			border-right-width: 0;
    }
    .nb{
			border-bottom-width: 0;
    }
    
		.blankCell{
      /* background: #53e3a6; */
			color:#F78888;
      font-weight: 600;
      /* font-size: large; */
		}
		.bg_red{
			background: #af3b33;
		}
		.clearfix:after{
			content: '';
			display: table;
			clear: both;
		}
		.btn-group{
			margin-top:20px;
			text-align:center;
		}